<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}">
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>
{% if app.user %}
    <div class="nav">
        <p>Bonjour {{ app.user.username }} </p><br>
        <a class="nav-item" href="{{ path('home') }}">Home</a> <br>
        <a class="nav-item" href="{{ path('admin') }}">Admin panel</a> <br>
        <a class="nav-item" href="{{ path('contact') }}">Contact</a>
        <a class="nav-item" href="{{ path('logout') }}">Logout</a> <br>
    </div>
{% else %}
    <div class="nav">
        <a class="nav-item" href="{{ path('home') }}">Home</a> <br>
        <a class="nav-item" href="{{ path('login') }}">Login</a> <br>
        <a class="nav-item" href="{{ path('contact') }}">Contact</a>
    </div>
{% endif %}
    <div class="wrapper">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>